[phases.setup]
# Removemos 'gdk-pixbuf' para evitar a colisão com 'librsvg'
# O Pango e o Cairo geralmente já resolvem as dependências gráficas necessárias
nixPkgs = [
    "python311",
    "gobject-introspection",
    "pango",
    "harfbuzz",
    "cairo",
    "libffi",
    "zlib",
    "glib",
    "xml2",
    "libxml2",
    "libxslt"
]

[phases.install]
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && streamlit run main.py --server.port $PORT --server.address 0.0.0.0"
