# nixpacks.toml

[phases.setup]
nixPkgs = ["python311", "gcc", "gnumake"]

# Bibliotecas essenciais para WeasyPrint
aptPkgs = [
    "libcairo2",
    "libpango-1.0-0",
    "libpangoft2-1.0-0",
    "libgdk-pixbuf2.0-0",
    "libglib2.0-0",  # Essa é a dona do libgobject-2.0-0
    "libffi-dev",
    "shared-mime-info",
    "libxml2-dev",
    "libxslt1-dev",
    "librsvg2-common"
]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "python -m venv .venv",
    ".venv/bin/pip install --upgrade pip",
    ".venv/bin/pip install -r requirements.txt"
]

[start]
# Este comando aqui é ignorado se você tiver algo escrito no painel do Railway.
# O importante é o Passo 2 abaixo.
cmd = "LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu .venv/bin/python -m streamlit run main.py --server.port $PORT --server.address 0.0.0.0"
