# nixpacks.toml

[phases.setup]
# O Nix instala APENAS o Python e compiladores básicos.
# NÃO coloque bibliotecas gráficas (cairo, pango, librsvg) aqui.
nixPkgs = ["python311", "gcc", "gnumake"]

# O APT (Linux padrão) vai instalar as bibliotecas do WeasyPrint.
# O APT sabe lidar com colisões de arquivos, o Nix não.
aptPkgs = [
    "libcairo2",
    "libpango-1.0-0",
    "libpangoft2-1.0-0",
    "libgdk-pixbuf2.0-0",
    "libffi-dev",
    "shared-mime-info",
    "libxml2-dev",
    "libxslt1-dev",
    "librsvg2-common" 
]

[phases.install]
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && streamlit run main.py --server.port $PORT --server.address 0.0.0.0"
