[phases.setup]
# Força o Python 3.11 e instala as dependências de sistema do WeasyPrint/GTK
nixPkgs = [
    "python311",
    "gobject-introspection",
    "pango",
    "harfbuzz",
    "cairo",
    "gdk-pixbuf",
    "libffi",
    "zlib",
    "glib"
]

[phases.install]
# Instala as dependências do Python
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
# Comando para iniciar o app (ajuste o nome do arquivo se não for main.py)
cmd = ". .venv/bin/activate && streamlit run main.py --server.port $PORT --server.address 0.0.0.0"
