# nixpacks.toml

[phases.setup]
# Usamos apenas as bibliotecas "topo de cadeia".
# Adicionar 'librsvg' explicitamente resolve o conflito de loaders.cache
nixPkgs = [
    "python311",
    "libffi",
    "cairo",
    "pango",
    "gobject-introspection",
    "librsvg" 
]

[phases.install]
# Garante que estamos usando o pip correto
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && streamlit run main.py --server.port $PORT --server.address 0.0.0.0"
